In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/ML_Project_With_ContinuesTraining/main/notebooks/data/gemstone.csv")

In [3]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [4]:
df = data.copy()

In [5]:
df.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 11 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       193573 non-null  int64
 1   carat    193573 non-null  float64
 2   cut      193573 non-null  object
 3   color    193573 non-null  object
 4   clarity  193573 non-null  object
 5   depth    193573 non-null  float64
 6   table    193573 non-null  float64
 7   x        193573 non-null  float64
 8   y        193573 non-null  float64
 9   z        193573 non-null  float64
 10  price    193573 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 16.2+ MB

In [7]:
df = df.drop(labels=['id'],axis=1)

In [8]:
x = df.drop(labels=['price'],axis=1)

In [9]:
y = df[['price']]

In [10]:
x.head()

   carat        cut color clarity  depth  table     x     y     z
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77

In [11]:
y

        price
0       13619
1       13387
2        2772
3         666
4       14453
...       ...
193568   1130
193569   2874
193570   3036
193571    681
193572   2258

[193573 rows x 1 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193573 entries, 0 to 193572
Data columns (total 10 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   carat    193573 non-null  float64
 1   cut      193573 non-null  object
 2   color    193573 non-null  object
 3   clarity  193573 non-null  object
 4   depth    193573 non-null  float64
 5   table    193573 non-null  float64
 6   x        193573 non-null  float64
 7   y        193573 non-null  float64
 8   z        193573 non-null  float64
 9   price    193573 non-null  int64
dtypes: float64(6), int64(1), object(3)
memory usage: 14.8+ MB

In [13]:
categorical_val = x.select_dtypes(include='object').columns

In [14]:
categorical_val

Index(['cut', 'color', 'clarity'], dtype='object')

In [15]:
numerical_val = x.select_dtypes(exclude='object').columns

In [16]:
numerical_val

Index(['carat', 'depth', 'table', 'x', 'y', 'z'], dtype='object')

In [17]:
df['cut'].unique()

array(['Premium', 'Very Good', 'Ideal', 'Good', 'Fair'], dtype=object)

In [18]:
df['color'].unique()

array(['F', 'J', 'G', 'E', 'D', 'H', 'I'], dtype=object)

In [19]:
df['clarity'].unique()

array(['VS2', 'SI2', 'VS1', 'SI1', 'IF', 'VVS2', 'VVS1', 'I1'],
      dtype=object)

In [20]:
# Define the custom ranking for each ordinal variable
cut_categorie = ['Fair','Good','Very Good','Premium','Ideal']
color_categorie = ['D','E','F','G','H','I','J']
clearity_categorie = ['I1','SI2','SI1','VS2','VS1','VVS2','VVS1','IF']

# pipeline

1) Emputer : Univariate imputer for completing missing values with simple strategies.
2) encoding 
3) scaling

In [21]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OrdinalEncoder

from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

In [22]:
num_pipeline = Pipeline(
    steps=[
        ('imputer',SimpleImputer(strategy='median')),
        ('scaler',StandardScaler()),
    ]
)
cat_pipeline = Pipeline(
    steps = [
        ('imputer',SimpleImputer(strategy='most_frequent')),
        ('encoding',OrdinalEncoder(categories=[cut_categorie,color_categorie,clearity_categorie])),
    ]
)
preprocessor = ColumnTransformer(
    [
        ('num_pipeline',num_pipeline,numerical_val),
        ('cat_pipeline',cat_pipeline,categorical_val)
    ]
)

In [23]:
num_pipeline

Pipeline(steps=[('imputer', SimpleImputer(strategy='median')),
                ('scaler', StandardScaler())])

In [24]:
## Train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,random_state=30)

In [26]:
preprocessor.fit_transform(x_train)

array([[-0.97543926, -0.84960654, -0.12153081, ...,  4.        ,
         5.        ,  5.        ],
       [ 0.2351953 ,  1.83363716, -0.12153081, ...,  1.        ,
         1.        ,  2.        ],
       [ 0.49461699,  0.81585507,  0.39980029, ...,  3.        ,
         3.        ,  4.        ],
       ...,
       [ 0.45138004,  1.55606023, -0.6428619 , ...,  1.        ,
         3.        ,  2.        ],
       [ 0.66756478, -1.77486298,  1.44246248, ...,  4.        ,
         3.        ,  4.        ],
       [ 0.25681377,  0.81585507, -0.12153081, ...,  4.        ,
         3.        ,  2.        ]])

In [27]:
x_train = pd.DataFrame(preprocessor.fit_transform(x_train),columns=preprocessor.get_feature_names_out())

In [28]:
x_train.head()

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-0.975439,-0.849607,-0.121531,-1.042757,-1.080970,-1.123150,4.0,5.0,5.0
1,0.235195,1.833637,-0.121531,0.318447,0.279859,0.485354,1.0,1.0,2.0
2,0.494617,0.815855,0.399800,0.570855,0.606458,0.673737,3.0,3.0,4.0
3,-1.018676,0.260701,0.921131,-1.214034,-1.244270,-1.195605,3.0,3.0,3.0
4,-0.953821,-0.664555,-0.642862,-1.069801,-1.044681,-1.094168,4.0,6.0,5.0

In [29]:
x_test = pd.DataFrame(preprocessor.fit_transform(x_test),columns=preprocessor.get_feature_names_out())

In [30]:
x_test

,num_pipeline__carat,num_pipeline__depth,num_pipeline__table,num_pipeline__x,num_pipeline__y,num_pipeline__z,cat_pipeline__cut,cat_pipeline__color,cat_pipeline__clarity
0,-0.560473,-0.946668,-0.632686,-0.425330,-0.459668,-0.498885,3.0,1.0,3.0
1,-0.171673,0.990913,-0.111947,-0.037825,-0.024281,0.040318,2.0,4.0,2.0
2,-1.057274,0.252787,-0.111947,-1.299471,-1.294159,-1.271258,4.0,4.0,7.0
3,0.973129,-0.208542,1.971009,1.052598,1.000693,0.987567,3.0,3.0,3.0
4,-0.927674,-1.315731,0.408792,-1.002083,-0.985760,-1.067235,3.0,1.0,4.0
...,...,...,...,...,...,...,...,...,...
58067,1.016329,1.175444,-0.632686,1.007539,1.046046,1.162444,2.0,4.0,3.0
58068,-0.992474,0.252787,-1.153426,-1.137259,-1.121819,-1.110954,4.0,2.0,6.0
58069,-0.193273,-3.345577,1.450270,0.106363,0.075496,-0.221997,3.0,6.0,3.0
58070,-0.819674,-0.208542,-0.111947,-0.848883,-0.876913,-0.877785,4.0,3.0,2.0
58071,2.614731,-0.762136,1.450270,2.143021,2.043808,2.022254,3.0,6.0,3.0

In [31]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge,ElasticNet
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [32]:
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet(),
    'SVR':SVR(),
    'DTR':DecisionTreeRegressor()
}

In [33]:
[list(models.values())[i] for i in range(len(list(models)))]

[LinearRegression(),
 Lasso(),
 Ridge(),
 ElasticNet(),
 SVR(),
 DecisionTreeRegressor()]

In [34]:
def evaluate_model(true,predict):
    mae = mean_absolute_error(true,predict)
    mse = mean_squared_error(true,predict)
    rmse = np.sqrt(mean_squared_error(true,predict))
    r2_square = r2_score(true,predict)
    return mae,rmse,r2_square

In [35]:
## Train multiple models
models={
    'LinearRegression':LinearRegression(),
    'Lasso':Lasso(),
    'Ridge':Ridge(),
    'Elasticnet':ElasticNet(),
}

trained_model_list = []
model_list = []
r2_list = []

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train,y_train)
    
    #make prediction
    y_pred = model.predict(x_test)
    mae,rmse,r2_square = evaluate_model(y_test,y_pred)
    
    
    print(list(models.values())[i])
    model_list.append(list(models.values())[i])
    
    print('Model Training Performance')
    print("RMSE:",rmse)
    print("MAE:",mae)
    print("R2 score",r2_square*100)
    
    r2_list.append(r2_square)
    
    print('='*35)
    print('\n')

LinearRegression()
Model Training Performance
RMSE: 1014.032872660391
MAE: 675.3352779829821
R2 score 93.687486914296
===================================


Lasso()
Model Training Performance
RMSE: 1014.0054142437809
MAE: 676.5573439753371
R2 score 93.68782877553554
===================================


Ridge()
Model Training Performance
RMSE: 1014.0343503475376
MAE: 675.3666450361081
R2 score 93.68746851661581
===================================


ElasticNet()
Model Training Performance
RMSE: 1513.3315484365123
MAE: 1054.0030921514453
R2 score 85.94061269062263
===================================